.header-text {
  position: relative;
  height: calc(100% - 100px);
  color: #fff;
  text-align: center;
  padding: 80px 0;
  margin: 0 56px;
}
.header-text h1 {
  font-size: 70px;
  margin: 30px auto 20px;
  max-width: 700px;
  line-height: 1;
}
.header-text h2 {
  font-size: 28px;
  margin: 0 auto 20px;
  max-width: 640px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .header-text {
    padding: 15px 0;
    margin: 0 20px;
  }
  .header-text h1 {
    font-size: 1.75rem;
    margin: 0 auto 20px;
  }
  .header-text h2 {
    font-size: 1.125rem;
  }
}
