.lang-select {
  margin-right: 30px;
  position: relative;
}
.lang-select select {
  background-color: rgba(0, 0, 0, 0.552);
  color: #fff;
  border: 1px solid #9a9a9a;
  border-radius: 3px;
  padding: 8px 0 8px 24px;
  display: flex;
  align-items: center;
}
.lang-select i {
  font-size: 14px;
  color: #fff;
  margin-left: 10px;
  position: absolute;
  top: 56%;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  .lang-select select {
    padding: 2px 12px 2px 22px;
  }
  .lang-select i {
    top: 50%;
    font-size: 13px;
  }
}
